<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Create User</title>
</head>
<body>
    <h1>Create User</h1>

    <%- include("partials/errors.ejs") %>
    <form action="/create" method="POST">
        <label for="firstName">First Name:</label>
        <input placeholder="John" type="text" name="firstName" id="firstName" required>

        <label for="lastName">Last Name:</label>
        <input placeholder="Doe" type="text" name="lastName" id="lastName" required>
        
        <button type="submit">Submit</button>
    </form>
    <a href="/">Back to home</a>
</body>
</html>